<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hdu.mapper.UserMapper">

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user (username, email, phone, password, create_time, update_time,update_user)
        values (#{username},#{email},#{phone},#{password},#{createTime},#{updateTime},#{updateUser})
    </insert>
    <update id="update">
        update user
        <set>
            <if test="username!=null"> username=#{username},</if>
            <if test="email!=null"> email=#{email},</if>
            <if test="password!=null"> password=#{password},</if>
            <if test="phone!=null"> phone=#{phone},</if>
            <if test="updateTime!=null"> update_time=#{updateTime},</if>
            <if test="updateUser!=null"> update_user=#{updateUser},</if>
            <if test="isActive!=null"> is_active=#{isActive}</if>
        </set>
        where id=#{id}
    </update>
</mapper>